<section id="transferencia" class="py-20 bg-gradient-to-b from-joker-dark to-joker-black">
  <div class="container mx-auto px-4">
    <h2 class="section-title">CARGÁ POR TRANSFERENCIA</h2>
    <p class="text-xl text-center text-gray-300 mb-12 max-w-2xl mx-auto">
      Aceptamos todos los bancos y billeteras virtuales
    </p>
  
    <div class="logos group relative overflow-hidden whitespace-nowrap py-16 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]">
      <div class="animate-slide-left group-hover:animation-pause inline-block w-max">
        <!-- Logos más grandes con más espacio entre ellos -->
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/Banco_Santander_Logotipo.svg.png" alt="Santander" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/bna-logo-27DC199F9A-seeklogo.com.png" alt="BNA" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/cuenta-dni.png" alt="Cuenta DNI" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/Logo_Banco_Galicia.svg.png" alt="Galicia" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/MP_RGB_HANDSHAKE_color-blanco_hori-izq.png" alt="Mercado Pago" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/Naranja_X.png" alt="Naranja X" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/prex.png" alt="Prex" />
      </div>

      <!-- Duplicado para efecto infinito -->
      <div class="animate-slide-left group-hover:animation-pause inline-block w-max">
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/Banco_Santander_Logotipo.svg.png" alt="Santander" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/bna-logo-27DC199F9A-seeklogo.com.png" alt="BNA" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/cuenta-dni.png" alt="Cuenta DNI" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/Logo_Banco_Galicia.svg.png" alt="Galicia" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/MP_RGB_HANDSHAKE_color-blanco_hori-izq.png" alt="Mercado Pago" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/Naranja_X.png" alt="Naranja X" />
        <img class="mx-16 inline h-12 md:h-16 grayscale hover:grayscale-0 opacity-80 hover:opacity-100 transition-all duration-300" src="/images/logos-bancos/prex.png" alt="Prex" />
      </div>
    </div>
  </div>
</section>